<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome to the Dashboard!</h1>
    <section>
        <p>Username: <%= user.username %></p>
<p>Name: <%= user.full_name %></p>
<p>Email: <%= user.email %></p>
<p>Contact Number: <%= user.contact %></p>
    </section>
    
</body>
</html>